<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">

    <title>EduWatching</title>
    <link rel="shortcut icon" href="img/favicon.ico">

    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="mainStatic/css/font-icon-style.css">
    <link rel="stylesheet" href="mainStatic/css/style.default.css" id="theme-stylesheet">

    <script src="https://cdn.staticfile.org/vue/2.6.10/vue.min.js"></script>
    <style>
        label {
            margin-bottom: 0;
        }
    </style>
</head>

<body>
<header class="header">
    <nav class="navbar navbar-expand-lg ">
        <div class="search-box">
            <button class="dismiss"><i class="icon-close"></i></button>
            <form id="searchForm" action="#" role="search">
                <input type="search" placeholder="Search Now" class="form-control">
            </form>
        </div>
        <div class="container-fluid ">
            <div class="navbar-holder d-flex align-items-center justify-content-between">
                <div class="navbar-header">
                    <a href="main" class="navbar-brand">
                        <div class="brand-text brand-big hidden-lg-down"><img src="mainStatic/img/logo-white.png"
                                                                              alt="Logo"
                                                                              class="img-fluid"></div>
                        <div class="brand-text brand-small"><img src="mainStatic/img/logo-icon.png" alt="Logo"
                                                                 class="img-fluid">
                        </div>
                    </a>
                </div>
            </div>
            <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
                <!-- Expand-->
                <li class="nav-item d-flex align-items-center full_scr_exp"><a class="nav-link" href="#"><img
                        src="mainStatic/img/expand.png" onclick="toggleFullScreen(document.body)" class="img-fluid"
                        alt=""></a>
                </li>

                <li class="nav-item dropdown"><a id="profile" class="nav-link logout" data-target="#" href="#"
                                                 data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img
                        src="mainStatic/img/avatar-1.jpg" alt="..." class="img-fluid rounded-circle"
                        style="height: 30px; width: 30px;"></a>
                    <ul aria-labelledby="profile" class="dropdown-menu profile">
                        <li>
                            <a rel="nofollow" href="#" class="dropdown-item d-flex">
                                <div class="msg-profile"><img src="mainStatic/img/avatar-1.jpg" alt="..."
                                                              class="img-fluid rounded-circle"></div>
                                <div class="msg-body">
                                    <h3 class="h5" th:text="${teacherName}">Steena Ben</h3><span>steenaben@Businessbox.com</span>
                                </div>
                            </a>
                            <hr>
                        </li>
                        <li>
                            <a rel="nofollow" href="profile" class="dropdown-item">
                                <div class="notification">
                                    <div class="notification-content"><i class="fa fa-user "></i>My Profile</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a rel="nofollow" href="profile" class="dropdown-item">
                                <div class="notification">
                                    <div class="notification-content"><i class="fa fa-envelope-o"></i>Inbox</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a rel="nofollow" href="profile" class="dropdown-item">
                                <div class="notification">
                                    <div class="notification-content"><i class="fa fa-cog"></i>Setting</div>
                                </div>
                            </a>
                            <hr>
                        </li>
                        <li>
                            <a rel="nofollow" href="profile" class="dropdown-item">
                                <div class="notification">
                                    <div class="notification-content"><i class="fa fa-power-off"></i>Logout</div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>

<!--====================================================
                        PAGE CONTENT
======================================================-->
<div class="page-content d-flex align-items-stretch">

    <!--***** SIDE NAVBAR *****-->
    <nav class="side-navbar">
        <div class="sidebar-header d-flex align-items-center">
            <div class="avatar"><img src="mainStatic/img/avatar-1.jpg" alt="..." class="img-fluid rounded-circle"></div>
            <div class="title">
                <h1 class="h4" th:text="${teacherName}">老师名字</h1>
            </div>
        </div>
        <hr>
        <!-- Sidebar Navidation Menus-->
        <ul class="list-unstyled">
            <li><a href="main"><i class="icon-home"></i>实时课堂</a></li>
            <li class="active"><a href="rollCall"> <i class="fa fa-bell-o"></i>智能点名</a></li>
            <li><a href="tables"> <i class="icon-grid"></i>课堂纪录</a></li>
            <li><a href="#apps" aria-expanded="false" data-toggle="collapse"> <i class="icon-interface-windows"></i>扩展功能</a>
                <ul id="apps" class="collapse list-unstyled">
                    <li><a href="calendar">日历</a></li>
                    <li><a href="email">Email</a></li>
                    <li><a href="media">每日推送</a></li>
                </ul>
            </li>
        </ul>
    </nav>

    <div class="content-inner chart-cont">

        <!--***** CONTENT *****-->
        <div class="container" id="container">
            <div class="row">
                <div class="col-md-4" style="width: 40px">
                    <nav class="nav vert-tab flex-column">

                        <a class="nav-link js-scroll-trigger tab-faq" href="#FAQ2">
                            <h3><i class="fa fa-soccer-ball-o"></i>全班点名</h3>
                            <small>按顺序对全班进行点名</small>
                        </a>
                        <a class="nav-link js-scroll-trigger tab-faq" href="#FAQ3">
                            <h3><i class="fa fa-refresh"></i>随机抽点</h3>
                            <small>随机抽查部分学生进行点名</small>
                        </a>

                    </nav>
                </div>
                <div class="col-md-8">
                    <section id="nino-whatWeDo" style="width: 100%">
                        <div class="panel-body">
                            <div class="col-md-8" style="flex: 100%;max-width: 100%;">
                                <div class="card card-c2">
                                    <table class="table table-hover">
                                        <thead style="color: #00CCFF">
                                        <tr>
                                            <th><strong>学生姓名</strong></th>
                                            <th><strong>到课情况</strong></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="student in students">
                                            <td>{{student.name}}</td>
                                            <td>
                                                <label><input type="radio" name="optionsRadios">正常 </label>
                                                <label><input type="radio" name="optionsRadios">迟到 </label>
                                                <label><input type="radio" name="optionsRadios">旷课</label>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Global Javascript -->
<script src="https://cdn.staticfile.org/jquery/3.3.1/jquery.min.js"></script>
<script src="mainStatic/js/popper/popper.min.js"></script>
<script src="mainStatic/js/tether.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
<script src="mainStatic/js/jquery.cookie.js"></script>
<script src="mainStatic/js/jquery.validate.min.js"></script>
<script src="mainStatic/js/front.js"></script>
<script src="js/jquery.easing.min.js"></script>
<script src="js/chart.min.js"></script>
</body>

<script type="text/javascript">
    var vContainer = new Vue({
        el: "#container",
        data: {
            students: ''
        },
        mounted: function () {
            var settings = {
                "async": true,
                "crossDomain": true,
                "url": "info/nameList",
                "method": "POST",
                "success": function (response) {
                    vContainer.students = $.parseJSON(response);
                }
            };
            $.ajax(settings);
        }
    });
</script>


</html>